go 1.26.4

use (
	./.nvelwraith/src/sov.nvelwraith/wraithclient
	./000all/s-cognition
	./00flon/n-root
	./00floo/00floo-info
	./00floo/o-afflume
	./00floo/o-afflume-realization
	./00floo/o-banking
	./00floo/s-emulator-stripe
	./00flow/00flow-info
	./00flow/s-a2a
	./00flow/s-actors
	./00flow/s-adk
	./00flow/s-agentbox
	./00flow/s-agentframework
	./00flow/s-agentframework/83000-external-libraries-source/go-sdk
	./00flow/s-animus
	./00flow/s-assurance
	./00flow/s-authorize
	./00flow/s-distribution
	./00flow/s-emulator-avalara
	./00flow/s-emulator-cloudrun
	./00flow/s-emulator-cloudtasks
	./00flow/s-emulator-firebaseauth
	./00flow/s-emulator-firestore
	./00flow/s-emulator-gcs
	./00flow/s-emulator-iam
	./00flow/s-emulator-kms
	./00flow/s-emulator-pubsub
	./00flow/s-emulator-scheduler
	./00flow/s-emulator-secretmanager
	./00flow/s-emulator-spanner
	./00flow/s-emulator-stripetax
	./00flow/s-fab-aides
	./00flow/s-forge
	./00flow/s-forge/93000-external-libraries/aesgcm
	./00flow/s-forge/93000-external-libraries/blake3
	./00flow/s-forge/93000-external-libraries/mlkem
	./00flow/s-forge/93000-external-libraries/qpack
	./00flow/s-forge/93000-external-libraries/quic-go
	./00flow/s-forge/93000-external-libraries/stripe-go
	./00flow/s-forge/98000-internal-libraries/quicdl
	./00flow/s-githubmcp
	./00flow/s-hardware-bridge
	./00flow/s-hydration
	./00flow/s-hydrationcache
	./00flow/s-ingestion
	./00flow/s-introspection
	./00flow/s-latentlingua
	./00flow/s-logiclibrary
	./00flow/s-mcp
	./00flow/s-mcp-githubtrimmed
	./00flow/s-mcp-greeter
	./00flow/s-mcpstudio
	./00flow/s-natives
	./00flow/s-okf
	./00flow/s-okf-knowledge-forge
	./00flow/s-okf-store
	./00flow/s-parallizer
	./00flow/s-sacp
	./00flow/s-scoreboard
	./00flow/s-scorecard
	./00flow/s-seed
	./00flow/s-taxonomy-guard
	./00flow/s-trust-circle
	./00flow/s-webconduit
	./00flow/x-billing
	./00xper/00xper-info
	./00xper/x-actors
	./00xper/x-actorstudio
	./00xper/x-emulator-oidc
	./00xper/x-emulator-wrappers
	./00xper/x-emulatorstudio
	./00xper/x-gose
	./00flow/s-liveauthentication
	./00xper/x-mcp-proxy
	./00xper/x-meter
	./00xper/x-storm
	./00xper/x-transform-antigravity
	./00xper/x-wrapstripe
	./51slam/s-riskpapers
	./99cbox/99cbox-info
	./99cbox/99cbox-root
	./99cogt/99cogt-info
	./99cogt/c0100-test-cli
	./99cogt/c0200-test-library
	./99cogt/c0300-test-ui-backend/backend
)
